@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --font-primary: 'Inria Sans';
    --color-transparent-black: #5f5f5f;
    --color-primary: #D46D6D;
    --color-secondary: #f0b3b3;
    --color-body: #FFFCDF;
}


body {
    font-family: var(--font-primary);
    color: #FFFF;
    background-color: var(--color-body);
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.header {
    background: var(--color-secondary);    
    height: 120px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h2 {
    color: var(--color-primary);
    font-size: 30px;
}

.welcome {
    display: inline-block;
    /* background: linear-gradient(to right, #ff9a9e, #fad0c4); */
    background-color: var(--color-primary);
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 8px;
    margin-top: -20px;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.15);
    font-size: 25px;
}

.start-pomodoro .box-pomodoro {
    box-sizing: border-box;
    background-color: var(--color-primary);
    overflow: hidden;
    height: 200px;
    max-width: 900px;
    width: 90%;
    border-radius: 20px;
    margin: 30px auto;
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.15);
}

.start-pomodoro .box-pomodoro:hover {
    cursor: pointer;
    /* background: linear-gradient(to right, #58ACA5, #fad0c4); */
    background-color: var(--color-primary);
    transform: scale(1.02);
    transition: all 0.2s ease;
}

.start-quiz .box-quiz {
    box-sizing: border-box;
    margin-top: 35px;
    background-color: var(--color-primary);
    overflow: hidden;
    height: 200px;  
    max-width: 900px;
    width: 90%;
    border-radius: 20px;
    margin: 30px auto; 
    box-shadow: 0 4px 6px rgb(0, 0, 0, 0.15);
}

.start-quiz .box-quiz:hover {
    cursor: pointer;
    /* background: linear-gradient(to right, #58ACA5, #fad0c4); */
    background-color: var(--color-primary);
    transform: scale(1.02);
    transition: all 0.2s ease;
}


.line {
    border: 0;
    height: 3px;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
}

.start-btn {
    background-color: #ff9a9e;
    color: #FFFFFF;
    border: #ff9a9e;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 160px;
    height: 40px;
    font-size: 20px;
}

.start-btn:hover {
    cursor: pointer;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
}
