@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --font-primary: 'Inria Sans';
}

body {
    font-family: var(--font-primary);
    color: #808080;
    background-color: #FAF1DC;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    font-size: 18px;
    color: #D46D6D;
}

.quiz-container {
    max-width: 85%;
    margin: 0 auto;
    padding: 2px;
    display: none;
}

.box-quiz {
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-radius: 13px;
    min-height: 590px;
    overflow: hidden;
}

.box-quiz .timer {
    text-align: right;
    font-weight: bold;
    margin-right: 20px;
    margin-top: 15px;
}

.timer.danger {
    color: #D46D6D;
}

.box-quiz h2.question {
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.box-quiz .option {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-top: 65px;
}

.box-quiz .option .button {
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
    color: #808080;
    width: 60%;
    height: 80px;
    font-size: 18px;
    font: bold;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.box-quiz .option .button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    transform: scale(1.03);   
    transition: all 0.2s ease; 
}

.box-quiz .option .button:active {
    transform: scale(0.99);   
    box-shadow: none;   
}

.next {
    display: flex;
    justify-content: end;
    margin-right: 60px;
    margin-top: 30px;
}

.next .next-btn {
    background-color: #D46D6D;
    color: #FFFFFF;
    border: #D46D6D;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 40px;
    font-size: 20px;
}

.next .next-btn:hover {
    background-color: #D46D6D;
    cursor: pointer;
    transform: scale(1.02);
    transition: all 0.2s ease;
}

.next .next-btn:active {
    transform: scale(0.99);
    box-shadow: none;
}

.result-container {
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.result-box {
    background: #fff;
    border: none;
    border-radius: 10px;
    min-height: 100px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.1);
    font-size: 15px;
    line-height: 2;
}

.result-box .question {
    font-size: 20px;
}

.result-box.incorrect {
    background: #D46D6D;
    color: #FFFFFF;
}