@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --font-primary: 'Inria Sans';
}

body {
    font-family: var(--font-primary);
    color: #808080;
    background-color: #FAF1DC;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    font-size: 18px;
    color: #D46D6D;
}

.quiz-container {

}

.box-quiz {
    background-color: #FFFFFF;
}

.result {
    background-color: #FAF1DC;
}